.video-card {
}

.video-card__thumbnail {
    display: block;
    width: 100%;
    margin-bottom: .8rem;
}

.video-card__info {
    display: flex;
}

.video-card__avatar {
    width: 2.2rem;
    margin-right: .8rem;
    border-radius: 50%;
}

.video-card__title {
    font-size: inherit;
    font-weight: 500;
    line-height: 1.4;
}

.video-card__channel {
    display: inline-block;
    color: rgba(0, 0, 0, .75);
    font-size: .875rem;
}

.video-card__views {
    display: inline-block;
    color: rgba(0, 0, 0, .75);
    font-size: .875rem;
}

.video-card__views::after {
    content: "•";
    margin: 0 .5ch;
}

.video-card__publish-time {
    display: inline-block;
    color: rgba(0, 0, 0, .75);
    font-size: .875rem;
}
