.search {
    display: flex;
}

.search__input {
    flex: auto;
    min-width: 0;
    padding: .36em 1.2ch;
    border: 1px solid rgba(0, 0, 0, .2);
    border-right: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1) inset;

    &:focus {
        border: 1px solid #3c61b0;
    }
}

.search__btn {
    flex: none;
    align-items: center;
    justify-content: center;
    width: 3.4em;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .03);
    color: rgba(0, 0, 0, .4);
    font-size: 1.25em;

    &:hover {
        background-color: rgba(0, 0, 0, .05);
        color: rgb(3, 3, 3);
    }
}
