@use '../../scss/variables.scss' as *;

.menu {
    --pl: 1.5rem;

    color: #030303;
}

.menu__header {
    margin-bottom: .42rem;
    padding-left: var(--pl);
    font-size: .95rem;
    font-weight: 400;
    text-transform: uppercase;
}

.menu__block {
    padding: .75rem 0;
}

.menu__divider {
    border: 1px solid rgba(0, 0, 0, .05);
}

.menu__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding-left: var(--pl);
    border: none;
    background-color: inherit;
    font-size: .875rem;

    &:hover {
        background-color: rgba(0, 0, 0, .05);
    }

    &:active {
        color: inherit;
    }
}

.menu__img {
    --size: 1.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    margin-right: 1.5rem;
    color: #606060;
    font-size: var(--size);  // for font-icon

    &--sm {
        --size: 1.2rem;
    }
}

.menu__link {
    cursor: pointer;

    &--active {
        background-color: rgba(0, 0, 0, .1);
        font-weight: 500;

        & .menu__img {
            color: #f00;
        }
    }
}

.menu__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
