@use "../../scss/components/icon.scss";

.topbar {
    display: flex;
    align-items: center;
    padding: .7em;
    color: #030303;
}

.nav__logo {
    margin-right: auto;
}

.topbar__menu_toggle {
    width: 1.6rem;
    margin: 0 1rem;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
}

.topbar__icon {
    width: 1.6rem;
    margin-left: .8em;
    color: #606060;
    font-size: 1.6em;
    cursor: pointer;
}

.topbar__search {
    flex: auto;
    max-width: 40em;
    margin-right: 3.4em;
    margin-left: 2.8em;
}

.topbar__user {
    @extend .icon;
    @extend .icon--rounded;

    width: 1.85em;
    margin: 0 1.4em 0 2em;
    cursor: pointer;
}

.topbar__tooltray {
    display: flex;
    align-items: center;
    margin-left: auto;
}
