.topbar {
    display: flex;
    align-items: center;
    padding: .75rem 0;
    color: #030303;
}

.topbar__logo {
    width: 5rem;
    margin-right: auto;
}

.topbar__menu_toggle {
    width: 1.5rem;
    margin: 0 1.5rem;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
}

.topbar__icon {
    $size: 1.5rem;

    width: $size;
    margin-left: 1.5rem;
    color: #606060;
    font-size: $size;
    cursor: pointer;
}

.topbar__search {
    flex: auto;
    max-width: 40rem;
    margin-right: 3.4rem;
    margin-left: 2.8rem;
}

.topbar__user {
    $size: 2rem;

    display: block;
    width: $size;
    height: $size;
    margin: 0 3.2rem 0 1.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.topbar__tooltray {
    display: flex;
    align-items: center;
    margin-left: auto;
}
