@use '../../scss/variables.scss' as *;

.topbar {
    --color: #606060;

    display: flex;
    align-items: center;
    padding: .75rem 0;
}

.topbar__logo {
    width: 5rem;
    margin-right: auto;
}

.topbar__menu_toggle {
    $size: 1.5rem;

    width: $size;
    margin: 0 1.5rem;
    border: none;
    background-color: inherit;
    color: var(--color);
    font-size: $size;
    text-align: center;
    cursor: pointer;
}

.topbar__btn {
    $size: 1.5rem;

    width: $size;
    margin-left: 1.5rem;
    border: none;
    background-color: inherit;
    color: var(--color);
    font-size: $size;
    cursor: pointer;
}

.topbar__search {
    flex: auto;
    max-width: 40rem;
    margin: 0 2.8rem;
}

.topbar__user {
    $size: 2rem;

    width: $size;
    height: $size;
    margin: 0 1.8rem 0 1.8rem;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.topbar__avatar {
    display: block;
    max-width: 100%;
    border-radius: 50%;
}

.topbar__tooltray {
    display: flex;
    align-items: center;
    margin-left: auto;
}
