@use 'variables';
@use 'core/reset';
@use 'core/utils';
@use 'layout/home';
@use 'components/nav';
@use 'components/menu';
@use 'components/keywords';
@use 'components/video';
@use 'components/search';

.logo {
    width: 5rem;
}

.main {
    padding-top: 1.8em;
    padding-left: 3.2rem;
    background-color: #f9f9f9;

    &__sec {
        border-bottom: 4px solid rgba(0, 0, 0, .1);
    }
}

.avatar {
    display: inline-block;
    width: 2.4em;
    text-align: center;

    &--rounded {
        border-radius: 50%;
    }

    &--sm {
        width: 1.4em;
    }
}
